.loader {
  position: fixed;
  width: 3.5%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4.5vw;
}

.loader > canvas {
  width: 100%;
  padding: 0.2vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
}

.loader > p {
  position: fixed;
  top: 21.5%;
  width: 100%;

  padding: 0.2vw;
  font-size: 0.55vw;
  color: white;

  text-align: center;
}
