@font-face {
  font-family: GothamProRegular;
  src: url(../fonts/GothamProRegular.ttf);
}
@font-face {
  font-family: GothamProMedium;
  src: url(../fonts/GothamProMedium.ttf);
}
@font-face {
  font-family: CorbelBold;
  src: url(../fonts/CorbelBold.ttf);
}

body {
  background: url(../media/bg.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(0, 174, 240, 0.25) 0%, transparent 75%);
}

.line {
  position: fixed;
  background-color: rgba(94, 129, 172, 1);
}

#cursor {
  position: fixed;
  width: 1.5vw;

  z-index: 99999999999;
  pointer-events: none;
  user-select: none;
}

.mainbox {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);

  border-radius: 1.5vw;
  width: 31vw;
  height: 17vw;
  background-color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.mainbox > .logo {
  position: fixed;
  top: 15%;
  left: 11%;

  object-fit: cover;
  user-select: none;
}

.mainbox > .buttons {
  display: flex;
  position: fixed;

  top: 19%;
  right: 12%;
  width: fit-content;
  height: 2vw;

  color: rgba(255, 255, 255, 0.822);
  font-family: CorbelBold;
  line-height: 1.3vw;
  font-size: 0.8vw;
  z-index: 99;

  user-select: none;
}

.mainbox > .buttons > * {
  margin-left: 1.7vw;
  color: white;
  height: 2vw;
}

.mainbox > .buttons > *::after {
  content: "";

  position: absolute;
  bottom: -15%;
  width: 1.2vw;
  height: 0.15vw;

  background-color: rgba(94, 129, 172, 1);
  opacity: 0;

  transition: 0.15s opacity;
}

.mainbox > .buttons > .active::after {
  opacity: 1;
}

.mainbox > .buttons > *:hover {
  cursor: pointer;
}

.mainbox > .screens {
  position: absolute;
  left: 0%;
  top: 37%;

  display: flex;
  flex-wrap: nowrap;
  width: fit-content;

  transition: left 0.5s;
}

.mainbox > .screens > * {
  position: relative;

  height: 7vw;
  width: 24vw;

  margin-right: 3.5vw;
  margin-left: 3.5vw;
}

.mainbox > .screens > * > .description {
  position: absolute;

  color: rgba(255, 255, 255, 0.822);
  font-family: GothamProRegular;
  line-height: 1.3vw;
  font-size: 0.8vw;

  user-select: none;
}

.mainbox > .server-data {
  position: absolute;
  top: 80%;
  width: 24vw;

  color: rgba(255, 255, 255, 0.822);
  font-family: CorbelBold;
  font-size: 1.05vw;
}

.mainbox > .server-data > .arrow {
  margin-right: 0.7vw;
  width: 1vw;

  user-select: none;
}

.additionalinfo {
  display: flex;
  position: absolute;
  bottom: 15%;
}

.additionalinfo > * {
  position: relative;
  margin-right: 0.5vw;
  border-radius: 0.4vw;
  height: 1vw;
  padding: 0.5vw 1vw 0.5vw 2.9vw;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.349);
  line-height: 1vw;
  font-size: 0.75vw;
  font-family: GothamProRegular;

  color: white;
}

.additionalinfo > * > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11%;

  line-height: 1vw;
  width: 1.2vw;
}

.videobox {
  position: fixed;
  top: 50%;
  left: 152%;
  transform: translate(-50%, -50%);

  border-radius: 1.5vw;
  width: 31vw;
  height: 17vw;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;

  transition: left 0.5s;
}

.videobox > video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.videobox > #playscreen {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 174, 240, 0.65);
  z-index: 9999;

  transition: 0.3s opacity;
}

.videobox:hover {
  cursor: pointer;
}

.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  font-size: 3.8vw;
  color: rgba(0, 0, 0, 0.651);
  transition: 0.05s;
  z-index: 99999;
}

.fa-play-circle:hover {
  color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}

.fa-pause-circle {
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  font-size: 3.8vw;
  color: rgba(0, 0, 0, 0.651);
  transition: 0.05s;
}

.fa-pause-circle:hover {
  color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}

.titlesubtitle > .header {
  position: absolute;
  top: 5%;
  left: 6%;

  font-family: GothamProRegular;
  font-size: 1.2vw;
  color: rgb(255, 255, 255);

  user-select: none;
}

.titlesubtitle > .content {
  position: absolute;
  top: 19%;
  left: 6%;

  width: 10vw;
  font-family: GothamProRegular;
  font-size: 0.8vw;
  color: rgb(255, 255, 255);

  user-select: none;
}

.gallerybox {
  position: fixed;
  top: 50%;
  right: -52%;
  transform: translateY(-50%);

  border-radius: 1.5vw;
  width: 31vw;
  height: 17vw;
  overflow: hidden;

  transition: right 0.5s;
}

.gallerybox > #images {
  display: flex;
  position: absolute;
  left: 0%;

  width: 100%;
  height: 100%;

  transition: left 0.5s;
}

.gallerybox > #images > img {
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  user-select: none;
}

.gallerybox > #left-arrow {
  position: fixed;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);

  background: url(../media/arrow-left.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 1.2vw;
  height: 2vw;
  z-index: 999;
}

.gallerybox > #right-arrow {
  position: fixed;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);

  background: url(../media/arrow-right.png) no-repeat;
  background-size: cover;
  width: 1.2vw;
  height: 2vw;
  transition: 0.05s;
  cursor: pointer;
  z-index: 999;
}

.subdomain {
  color: rgba(94, 129, 172, 1);
}

.texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../media/shadow.png) no-repeat center center fixed;
  background-size: cover;
  z-index: 999999999;
  pointer-events: none;
}
